.SkillVotes {
  /* Center the content */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;

  /* Colors */
  background-color: rgba(0, 0, 0, .3);
  color: #FFF;

  /* Rounded border */
  border-radius: 9999px;
  height: 18px;
  width: 18px; 
}