
.App {
  height: 100vh;

  header {
    background-color: rgb(247, 108, 108);
    color: rgb(243, 243, 243);
    text-align: center;
    border-bottom: 2px solid black;

    .HeaderContainer {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 24px;
    }
  }

  .MainContainer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
  }

  footer {
    background-color: rgba(247, 108, 108, 0.95);
    width: 100vw;
    position: fixed;
    bottom: 0;
    border-top: 2px solid black;

    .FooterContainer {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 24px;
    }

  }
}
 

 

 

 
/* 
 * card-layout. css 
 */

 
.button {
  /* Reset text link default */
  text-decoration: none;
 
  background-color: #F76C6C;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 4px;
  display: inline-block;
}
 

