@import '../../index.scss';

.WilderCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid $bgGrey;
  box-shadow: $mediumShadow;

  .WilderCardPicture {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .WilderCardName {
    color: $salmonColor;
    text-align: center;
    margin-bottom: 0;
  }

  .WilderCardSchool {
    margin-top: 5px;
  }

  .WilderCardDescription {
    color: $mediumColor;
    text-align: justify;
    line-height: 25px;
  }

  .WilderCardSkillsTitle {
    color: $salmonColor;
    text-align: center;
  }

  .WilderCardSkillsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    color: $mediumColor;
    text-align: justify;
    line-height: 25px;

    .WilderCardSkills {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      width: 75px;
      margin: 4px 5px;
      padding: 2px 5px;
      border-radius: 4px;
      border: 1px solid $bgSalmon;
    }
  }
}

.TeachCard {
  background-color: $bgGrey;
}