@import '../../index.scss';

.WilderCard {
  overflow: hidden;
  position: relative;
  background-color: rgb(202, 202, 202);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 20px;
  border-radius: 7px;
  border: 1px solid $salmonColor;
  box-shadow: $mediumShadow;

  .WilderCardTeacherStamp {
    position: absolute;
    top: 0px;
    right: -25px;
    width: 170px;
    z-index: 1;
  }

  .WilderCardPicture {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 9999px;
    border: 3px solid $salmonColor;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .WilderCardName {
    color: $salmonColor;
    text-align: center;
    margin-bottom: 0;
  }

  .WilderCardSchool {
    margin-top: 5px;
  }

  .WilderCardDescription {
    color: $mediumColor;
    text-align: justify;
    line-height: 25px;
  }

  .WilderCardSkillsTitle {
    color: $salmonColor;
    text-align: center;
  }

  .WilderCardSkillsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    color: $mediumColor;
    text-align: justify;
    line-height: 25px;

    .WilderCardSkills {
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      width: 75px;
      margin: 4px 5px;
      padding: 2px 5px;
      font-size: 14px;
      font-weight: 600;;
      border-radius: 4px;
      border: 1px solid $bgSalmon;
    }
  }
}

.TeachCard {
  background-color: rgba(247, 108, 108, 0.2);
}