.WilderCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #c9c9c9;
  border-radius: 7px;
  width: 300px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);

  img {
    border-radius: 7px 7px 0 0;
    margin-bottom: 20px;
    max-width: 80%;
    height: auto;
  }

  h3, h4 {
    color: #F76C6C;
    text-align: center;
  }

  p, ul {
    color: #757575;
    line-height: 1.5;
    text-align: justify;
  }

  .CardSkills {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      margin: 4px 5px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 5px;
      border: #F76C6C 1px solid;
      border-radius: 4px;
      padding: 2px 5px;
    }
  }
}